---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

const title = "About";
const description = "Senior Software Architect, cellist, and cyclist. I lead teams building big things, play obscure 20th-century Russian music, and ride my many bikes.";
---

<Layout title={title} description={description}>
  <Container>
    <div class="animate" data-pagefind-body>
      <h1 class="font-semibold text-2xl mb-6">About</h1>
      <div class="prose prose-neutral dark:prose-invert">
        <p>
          Part programmer, cellist, biker, and photographer, I live in the suburbs of Maryland, spend time on Long Island, and ride bikes wherever I can.
        </p>

        <p>
          I am a Senior Software Engineer with over 15 years of experience, and I am exceptional at what I do. I am a natural leader skilled at guiding teams through big organizational changes. I'm good at <a href="https://www.python.org/">Python</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, <a href="https://www.djangoproject.com/">Django</a>, Data, and more!
        </p>

        <p>
          I love riding my bicycles, and I own too many of them. I've done 3 straight yearly tours of the <a href="https://gaptrail.org/">GAP</a>/<a href="https://www.nps.gov/choh/index.htm">C&O</a>, the <a href="https://eriecanalway.org/">Erie Canal</a>, and a bunch of other shorter tours. Riding is one of the things that brings me great joy. Especially on my <a href="/blog/2025/12/05/all_city_space_horse/">All-City Space Horse</a>. That and my cat Sophie.
        </p>

        <p>
          I’ve played the cello since fourth grade. I love music (of almost all genres) and enjoy listening to, playing, and reading about music history. My favorite cellist has always been <a href="https://en.wikipedia.org/wiki/Mstislav_Rostropovich">Mstislav Rostropovich</a>, and I am especially fond of 20th-century Russian composers like <a href="https://en.wikipedia.org/wiki/Sergei_Prokofiev">Prokofiev</a>, <a href="https://en.wikipedia.org/wiki/Dmitri_Shostakovich">Shostakovich</a>, and <a href="https://en.wikipedia.org/wiki/Nikolai_Myaskovsky">Miaskovsky</a>. I used to be principal cellist of the <a href="https://columbiaorchestra.org/">Columbia Orchestra</a>, and a member of the <a href="https://music.umd.edu/">University of Maryland</a> and <a href="https://bsomusic.org/education-community/young-musicians/baltimore-symphony-youth-orchestras/">Greater Baltimore Youth Orchestras</a>.
        </p>

        <div class="my-8">
          <a href="http://www.flickr.com/photos/ed_welker/2109275877/" title="Me in front of the Lincoln Center fountain by eddie.welker, on Flickr">
            <img src="http://farm3.static.flickr.com/2399/2109275877_a5f83c80a0_m.jpg" alt="Me in front of the Lincoln Center fountain" class="rounded-lg" />
          </a>
        </div>

        <p>
          I am also a bit of a foodie. I enjoy cooking and have been known to spend time pickling or hunting down the best ingredients for a recipe.
        </p>

        <p>
          I’m a photo geek as well. My dad was a big <a href="https://en.wikipedia.org/wiki/Olympus_Corporation">Olympus</a> fan, so I chose that brand to use all of the lenses that were around. I’m still relatively new to this, but try to get better with every picture I take. I started with an Olympus E-520, basically wore out a <a href="https://en.wikipedia.org/wiki/Nikon_D700">Nikon D700</a>, and now love my <a href="https://en.wikipedia.org/wiki/Nikon_D780">Nikon D780</a>.
        </p>

        <p>
          I’m an avid <a href="https://www.mlb.com/redsox">Red Sox</a> fan who grew up watching them during the summers I spent at my grandparents' house.
        </p>

        <p>
          I used to use <a href="https://wordpress.org/">WordPress</a> to make things easier, but I finally foolishly decided it was time to break the cardinal sin, and develop my own site from scratch. For the third time. First I tried <a href="https://gohugo.io/">Hugo</a>, and now this site is on <a href="https://astro.build/">Astro</a>.
        </p>
      </div>
    </div>
  </Container>
</Layout>
