---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";

const { title, description, frontmatter } = Astro.props;

const displayTitle = title || frontmatter?.title;
const displayDescription = description || frontmatter?.description;
---

<Layout title={displayTitle} description={displayDescription}>
  <Container>
    <div class="animate font-semibold text-black dark:text-white">
      <h1 class="text-3xl mb-6">{displayTitle}</h1>
    </div>

    <article class="space-y-4 prose prose-neutral dark:prose-invert max-w-none">
      <slot />
    </article>
  </Container>
</Layout>
